doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Git Fanciness

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body
    article
      section
        h1 Git Fanciness

      section
        h2 Git topics
        ul
          li
          li log (and aliases)
          li merging
          li revert
          li stash
          li reset
          li cherry-pick
          li rebase on pull
          li unstaging changes
          li commit --amend
          li partial commit
          li reflog

      section
        h2 Git log
        hr
        code.language-bash
          pre.
            alias glog='git log --pretty="format: # custom format
                        %h # abbr commit hash
                        %d # ref name
                        %s # subject
                        %an, # author name and a comma
                        %ar"' # author date

        hr
        div 7e5bb8a Initial commit  Casey Leask, 71 minutes ago

      section
        h2 What will this show?
        hr
        code.language-bash
          pre.
            alias gl='glog --graph' # add the graph notation

      section
        h2 Boom
        hr
        code.language.align-left
          pre.
            *   ab19dc8 Merge..  James Vulling, 3 weeks ago
            |\
            | * 73ea208 (origin/pom-formatting) ..  James, 3 weeks ago
            * | 0166e99 (build-1.0.1377) Fixed..  MachSphere, 3 weeks ago
            |/
            *   5cd710b Merge branch 'master'  James, 3 weeks ago
            |\
            | * a9509f1 CMS-3859..  Casey Leask, 3 weeks ago
            | * 9209202 adding..  Krishna, 3 weeks ago
            * | a81acd5 updated corporate..   James, 3 weeks ago
            * | 3eacffa added properties..   James, 3 weeks ago
            |/
            * b46da7e (build-1.0.1375, ..) ..  James, 4 weeks ago

      section
        h2 And this one?
        hr
        code.language-bash
          pre.
            alias gla='gl --all' # all branches, not just current

      section(data-bespoke-state='whoa')
        h2 Whoah
        hr
        code.language.align-left
          pre.
            *   626e406 (build-1.0.1364) Merge..  Krishna Singampalli, 5 weeks ago
            |\
            * | a3f877b CMS-3721..  Krishna Singampalli, 5 weeks ago
            | | * 9beeade (origin/updated-js) Updating..  Casey Leask, 5 weeks ago
            | |/
            | * 00a85ff CMS-3806 2nd issue  Casey Leask, 5 weeks ago
            |/
            * 89ff46f CMS-3721: Added min height to author..  jarome, 5 weeks ago

      section
        h2 Merging

      section
        h2 revert

      section
        h2 stash

      section
        h2 reset

      section
        h2 cherry-pick

      section
        h2 rebase

      section
        h2 Unstaging

      section
        h2 commit --amend

      section
        h2 add -p

      section
        h2 reflog

      section
        h2.bullet Resources
        hr
        ul
          li
          li
          li
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/CaseyLeask')  -@CaseyLeask

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-bash.js')
    script(src='scripts/main.js')
